<nav class="navbar navbar-expand-md  navbar-light bg-light">
  <div class="container">


    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="category.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            {% for category in categoris %}
            <a class="dropdown-item" href="{% url 'category-filter' category.name %}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>